

<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <!-- Basic Client Information -->
  <div>
    <label for="client_no">Client No</label>
    <input id="client_no" formControlName="client_no" type="number" />
  </div>

  <div>
    <label for="client_name">Client Name</label>
    <input id="client_name" formControlName="client_name" />
  </div>

  <div>
    <label for="client_phone">Client Phone</label>
    <input id="client_phone" formControlName="client_phone" />
  </div>

  <div>
    <label for="client_email">Client Email</label>
    <input id="client_email" formControlName="client_email" />
  </div>

  <div>
    <label for="client_address">Client Address</label>
    <input id="client_address" formControlName="client_address" />
  </div>

  <div>
    <label for="client_resident">Client Resident</label>
    <input id="client_resident" formControlName="client_resident" />
  </div>

  <!-- Branch Selection -->
  <div>
    <label for="branch_id">Branch</label>
    <select id="branch_id" formControlName="branch_id">
      <option *ngFor="let branch of branches" [value]="branch.Id">{{ branch.branch_name }}</option>
    </select>
  </div>

  <!-- Booleans -->
  <div>
    <label for="Is_customer">Is Customer</label>
    <input type="checkbox" id="Is_customer" formControlName="Is_customer" />
  </div>

  <div>
    <label for="Is_vendor">Is Vendor</label>
    <input type="checkbox" id="Is_vendor" formControlName="Is_vendor" />
  </div>

  <div>
    <label for="Is_InstallmentClient">Is Installment Client</label>
    <input type="checkbox" id="Is_InstallmentClient" formControlName="Is_InstallmentClient" />
  </div>

  <div>
    <label for="IsBlocked">Is Blocked</label>
    <input type="checkbox" id="IsBlocked" formControlName="IsBlocked" />
  </div>

  <!-- Additional Fields -->
  <div>
    <label for="trade_no">Trade No</label>
    <input id="trade_no" formControlName="trade_no" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div>
    <label for="OpenedCreditor">Opened Creditor</label>
    <input id="OpenedCreditor" formControlName="OpenedCreditor" type="number" />
  </div>

  <div>
    <label for="OpenedDepitor">Opened Depitor</label>
    <input id="OpenedDepitor" formControlName="OpenedDepitor" type="number" />
  </div>

  <div>
    <label for="DiscountPercentPerItem">Discount Percent Per Item</label>
    <input id="DiscountPercentPerItem" formControlName="DiscountPercentPerItem" type="number" />
  </div>

  <div>
    <label for="DiscountPercentPerBill">Discount Percent Per Bill</label>
    <input id="DiscountPercentPerBill" formControlName="DiscountPercentPerBill" type="number" />
  </div>

  <div>
    <label for="CategoryId">Category Id</label>
    <input id="CategoryId" formControlName="CategoryId" type="number" />
  </div>

  <div>
    <label for="ClientType">Client Type</label>
    <input id="ClientType" formControlName="ClientType" type="number" />
  </div>

  <div>
    <label for="GuarantorName">Guarantor Name</label>
    <input id="GuarantorName" formControlName="GuarantorName" />
  </div>

  <div>
    <label for="GuarantorNationId">Guarantor Nation ID</label>
    <input id="GuarantorNationId" formControlName="GuarantorNationId" />
  </div>

  <div>
    <label for="GuarantorAddress">Guarantor Address</label>
    <input id="GuarantorAddress" formControlName="GuarantorAddress" />
  </div>

  <div>
    <label for="NationId">Nation ID</label>
    <input id="NationId" formControlName="NationId" />
  </div>

  <!-- Branches (Array Input) -->
  <div formArrayName="branches">
    <div *ngFor="let branch of branchesArray.controls; let i = index">
      <div [formGroupName]="i">
        <label for="branch_no_{{i}}">Branch No</label>
        <input id="branch_no_{{i}}" formControlName="branch_no" type="number" />

        <label for="branch_name_{{i}}">Branch Name</label>
        <input id="branch_name_{{i}}" formControlName="branch_name" />

        <label for="branch_phone_{{i}}">Branch Phone</label>
        <input id="branch_phone_{{i}}" formControlName="branch_phone" />

        <label for="branch_mobile_{{i}}">Branch Mobile</label>
        <input id="branch_mobile_{{i}}" formControlName="branch_mobile" />

        <label for="branch_manager_{{i}}">Branch Manager</label>
        <input id="branch_manager_{{i}}" formControlName="branch_manager" />
      </div>
    </div>
  </div>

  <!-- Cars (Array Input) -->
  <div formArrayName="cars">
    <div *ngFor="let car of carsArray.controls; let i = index">
      <div [formGroupName]="i">
        <label for="car_no_{{i}}">Car No</label>
        <input id="car_no_{{i}}" formControlName="No" type="number" />

        <label for="car_name_{{i}}">Car Name</label>
        <input id="car_name_{{i}}" formControlName="CarName" />

        <label for="chassis_no_{{i}}">Chassis No</label>
        <input id="chassis_no_{{i}}" formControlName="ChassisNo" />

        <label for="plate_no_{{i}}">Plate No</label>
        <input id="plate_no_{{i}}" formControlName="PlateNo" />

        <label for="kilometres_{{i}}">Kilometres</label>
        <input id="kilometres_{{i}}" formControlName="Kilometres" type="number" />
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="clientForm.invalid">Submit</button>
</form>

<!-- <form (ngSubmit)="addClient()">
    <div class="row mb-4 mt-4">
        <div class="col">
            <div data-mdb-input-init class="form-outline">
            <input type="text" name="cName" id="form6Example1" class="form-control" [(ngModel)]="newClient.client_name"/>
            <label class="form-label" for="form6Example1">Name</label>
            </div>
        </div>
        <div class="col">
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" name="cPhone" id="form6Example6" class="form-control" [(ngModel)]="newClient.client_phone"/>
            <label class="form-label" for="form6Example6">Phone Number</label>
        </div>
        </div>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" name="cEmail" id="form6Example5" class="form-control" [(ngModel)]="newClient.client_email"/>
        <label class="form-label" for="form6Example5">Email</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" name="cAddress" id="form6Example4" class="form-control" [(ngModel)]="newClient.client_address"/>
        <label class="form-label" for="form6Example4">Address</label>
    </div>

    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Add Client</button>
</form> -->