
.navbar {
    /* background-color: transparent; */
    background-color: var(--secondary-color);
    color: white;
}
@media (max-width: 992px) {
    .navbar {
        background-color: var(--secondary-color);
    }
}
.navbar .nav-link {
    color: white;
}